BOT_CLIENT_ID="147506195070556995>"
BOT_CLIENT_SECRET="5c75BhFmd2PlEFMijVzOHGgsR0FViXU7"

# The absolute url of the dashboard (Production)
APP_URL="https://goradashboard.vercel.app/"

# The absolute url of the api endpoint of your bot (Production)
NEXT_PUBLIC_API_ENDPOINT="http://212.227.64.179:12365/"
